DATABASE_URL=mongodb+srv://Bratishques:812951476@cluster0.xpfff.mongodb.net/SCITECH?authSource=admin&replicaSet=Cluster0-shard-0&w=majority&readPreference=primary&appname=MongoDB%20Compass&retryWrites=true&ssl=true
DATABASE_NAME=scitech
CONTENTFUL_SPACE_ID=3xvprbsu4asv
CONTENTFUL_API_KEY=rTNPZuGvM3_8ah6RJKU-md7kwSaDf1uRarqd8gUih4o